<section class="ui-status ideal elementos">

    <!--<div class="ui-status empty">
        No hay ninguna canción
    </div>

    <div class="ui-status error">
        Se ha producido un error al cargar la canción
    </div>

    <div class="ui-status loading">
        Cargando...
    </div>-->

    <div class="ui-status ideal" class="elementos container">

        <!-- Caja 1 recogiendo el título y la caja de las pelíiculas -->
        <section class="seccion1">
            <div class="titulo_semana1">
                <h1>ESTA SEMANA...</h1>
            </div>
            <!-- Caja 2 con las cajas de las pelis -->
            <div class="esta-semana">
                <!-- Caja 3 con los datos de las pelis-->
                <article class="solaris">
                    <a href="detail.html">
                        <img class="poster" src="img/solaris.jpg" alt="">
                    </a>
                    <div class="datos">
                        <div class="titulo">Solaris</div>
                        <div class="director-any">Andrei Tarkovsky, 1972</div>
                        <small class="genero">género: ciencia ficción</small>
                        <small class="fecha">XX-XX</small>
                    </div>
                </article>
                <div class="resto">
                    <article>
                        <a href="detail.html">
                            <img class="poster" src="img/jetee.jpg" alt="">
                        </a>
                        <div class="datos">
                            <div class="titulo">La Jetée</div>
                            <div class="director-any">Chris Marker, 1962</div>
                            <small class="genero">género: cine artístico</small>
                            <small class="fecha">XX-XX</small>
                        </div>
                    </article>

                    <article>
                        <a href="detail.html">
                            <img class="poster" src="img/callme.jpg" alt="">
                        </a>
                        <div class="datos">
                            <div class="titulo">Call Me </div>
                            <div class="director-any">Luca Guadagnino, 2017</div>
                            <small class="genero">género: drama romántico</small>
                            <small class="fecha">XX-XX
                                <small>
                        </div>
                </div>
            </div>

            </article>

        </section>

        <!---->
        <section class="seccion2">
            <div class="titulo_semana2">
                <h1>LA PRÓXIMA SEMANA...</h1>
            </div>
            <div class="prox-semana">
                <article class="pelicula perfect">
                    <a href="detail.html">
                        <img class="poster" src="img/perfect.jpg" alt="">
                    </a>
                    <div class="datos">
                        <div class="titulo">Perfect Blue</div>
                        <div class="director-any">Satoshi Kon, 1997</div>
                        <div class="genero">género: thriller psicológico</div>
                        <div class="fecha">XX-XX</div>
                    </div>
                </article>

                <article class="pelicula blade">
                    <a href="detail.html">
                        <img class="poster" src="img/blade.jpg" alt="">
                    </a>
                    <div class="datos">
                        <div class="titulo">Blade Runner</div>
                        <div class="director-any">Ridley Scott, 1982</div>
                        <div class="genero">género: ciencia ficción</div>
                        <div class="fecha">XX-XX</div>
                    </div>
                </article>

                <article class="pelicula paterson">
                    <a href="detail.html">
                        <img class="poster" src="img/paterson.jpg" alt="">
                    </a>
                    <div class="datos">
                        <div class="titulo">Paterson</div>
                        <div class="director-any">Jim Jarmusch, 2016</div>
                        <div class="genero">género: indie</div>
                        <div class="fecha">XX-XX</div>
                    </div>
                </article>
            </div>
        </section>

        <!---->
        <section class="seccion3">
            <div class="titulo_semana3">
                <h1>PRÓXIMAMENTE...</h1>
            </div>
            <div class="proximamente" id="slider">
                <article class="pelicula">
                    <a href="detail.html">
                        <img class="poster" src="img/gits.jpg" alt="">
                    </a>
                    <div class="datos">
                        <div class="titulo">Ghost In The Shell</div>
                        <div class="director-any">Mamoru Oshii, 1995</div>
                        <div class="genero">género: ciencia ficción</div>
                        <div class="fecha">XX-XX</div>
                    </div>
                </article>

                <article class="pelicula">
                    <a href="detail.html">
                        <img class="poster" src="img/network.jpg" alt="">
                    </a>
                    <div class="datos">
                        <div class="titulo">The Network</div>
                        <div class="director-any">Sidney Lumet, 1976</div>
                        <div class="genero">género: drama</div>
                        <div class="fecha">XX-XX</div>
                    </div>
                </article>

                <article class="pelicula">
                    <a href="detail.html">
                        <img class="poster" src="img/odisea.jpg" alt="">
                    </a>
                    <div class="datos">
                        <div class="titulo">2001: Odisea En El Espacio</div>
                        <div class="director-any">
                            Stanley Kubrick, 1968</div>
                        <div class="genero">género: ciencia ficción</div>
                        <div class="fecha">XX-XX</div>
                    </div>
                </article>

                <article class="pelicula">
                    <a href="detail.html">
                        <img class="poster" src="img/akira.jpg" alt="">
                    </a>
                    <div class="datos">
                        <div class="titulo">Akira</div>
                        <div class="director-any">Katsuhiro Otomo, 1988</div>
                        <div class="genero">género: acción, drama</div>
                        <div class="fecha">XX-XX</div>
                    </div>
                </article>
            </div>
        </section>

    </div>

</section>