
    <nav>
        <ul class="menu">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li class="dropdown">
                <p class="dropbtn">Cosas</p>
                <div class="dropdown-content">
                    <a href="detail.html">Ir a detalle</a>
                    <a href="detail.html">Ir a detalle</a>
                    <a href="detail.html">Ir a detalle</a>
                </div>
            </li>
        </ul>
        <div class="search">
            <span class="fa icono"></span>
            <input placeholder="">
        </div>

    </nav>
