// Font families
$font-logo:'Signika', sans-serif; 
$font-titles: 'Lobster', cursive;
// Font sizes


// Base colors
$carbon: #333;
$blanco: whitesmoke;
$gris: rgb(175, 174, 174);
$granate: rgb(86, 20, 47);
$purpura: rgb(73, 32, 66);
$rojizo: rgb(134, 43, 52);

// Main components colors


// Responsive
// 667 iphone landscape. 768 ipad portrait
$mobile-portrait-width: 414px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;

// Forms variables

